# PostgreSQL
POSTGRES_USER = exampleUser
POSTGRES_PASSWORD = examplePassword
POSTGRES_DB = exampleDatabase
DATABASE_HOST = db
DATABASE_PORT = 5432
DATABASE_USER = exampleUser
DATABASE_PASSWORD = examplePassword
DATABASE_NAME = exampleDatabase

# Node.js
NODE_ENV = development
PORT = 3000
